/* /* Custom properties/variables  */
:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

a{
    text-decoration: none;
}
img {
    display: block;
    width: 100%;
  }

nav{
    display: flex;
    justify-content: flex-end;
    box-shadow: 5px 2px 8px rgb(117, 211, 248);
    background-color: rgb(214, 253, 253);
    padding: 0 20px;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 10;
}
nav ul{
    line-height: 45px;
    height: 50px;
    justify-content: center;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding-right: 30px;
    font-size: 20px;
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 2px 5px rgb(100, 99, 99);
    cursor: pointer;
    height: 50px;
}
nav ul li a{
    color: black;
    display: inline-block;
    height: 50px;
    padding: 0 10px;
}
nav ul li a:hover{
    background-image: linear-gradient(red, yellow);
}
@media (max-width: 500px){
    nav{
        display: flex;
        justify-content: flex-end;
        box-shadow: 5px 2px 8px rgb(117, 211, 248);
        background-color: rgb(0, 255, 255);
        padding: 0 20px;
        width: 100%;
        height: 50px;
        position: fixed;
        z-index: 10;
    }
    nav ul{
        line-height: 45px;
        height: 50px;
        justify-content: center;
    }
    nav ul li{
        list-style: none;
        display: inline-block;
        padding-right: 30px;
        font-size: 20px;
        font-family: "Sofia", sans-serif;
        text-shadow: 3px 2px 5px rgb(100, 99, 99);
        cursor: pointer;
        height: 50px;
    }
    nav ul li a{
        color: black;
        display: inline-block;
        height: 50px;
        padding: 0 10px;
    }
    nav ul li a:hover{
        background-image: linear-gradient(red, yellow);
    }
}


#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
#welcome-section > div{
    display: flex;
    justify-content: center;
}
#welcome-section > div > h1{
    color: rgb(0, 17, 253);
    text-shadow: 2px 1px 1px aqua;
    font-size: 70px;
    position: relative;
    text-align: center;
    padding:0 10px;
    font-family: 'Cookie', cursive;
    font-weight: bold;
}
#welcome-section > p{
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    
}
#welcome-section > div > h1:hover{
    cursor: pointer;
    animation-name: color;
    position: relative;
    animation-duration: 2s;
}
@keyframes color{
    0%   {
        color:red; 
        top:-10px;
    }
    25%  {
        color:yellow; 
        top:-5px;
    }
    50%  {
        color:rgb(255, 0, 212); 
        top:10px;
    }
    75%  {
        color:green; 
        top:5px;
    }
    100% {
        color:red; 
        top:0px;
    }
}



.projects-section{
    position: relative;
    padding: 10rem 2rem;
    text-align: center;
    top: 900px;
    background-color: aqua;
    color: black;
}
.projects-section > h2{
    text-decoration: underline;
    font-size: 40px;
    padding-bottom: 20px;
}

@media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
  }
  
  /* "Automagic" image grid using no media queries */
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  
  .code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
  }
  
  .project:hover .code {
    color: #ff7f50;
  }
  .projects-grid > a > p{
    font-size: 20px;
    color: #ffafba;
  }
  .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
  
  .project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
  }
  
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }
  
  .btn-show-all {
    font-size: 2rem;
    background: var(--main-gray);
    transition: background 0.3s ease-out;
  }
  
  .btn-show-all:hover {
    background: var(--main-red);
  }
  
  .btn-show-all:hover > i {
    transform: translateX(2px);
  }
  
  .btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }



  
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-gray);
  }
  
  .contact-section-header > h2 {
    font-size: 6rem;
  }
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  
  .contact-section-header > p {
    font-style: italic;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }