body{
    background-color: rgb(185, 213, 250);
}

a{
    text-decoration: none;
}
a:hover{
    color: red;
}
a:active{
    color: green;
}

.head{
    color: rgb(252, 134, 0);
    text-align: center;
    margin-top: 0;
    text-shadow: #000000;
    font-size: 170%;
    font-family: Arial, Helvetica, sans-serif ;
    background: #94d9f5;
}
.head > h1::selection{
    color: black;
}
.head > h1::after{
    content: " \262C";
    color: #000000;
}
.head > h1::before{
    content: " \262C";
    color: #000000;
}

.login{
    margin-top: auto;
    text-align: center;
}
input.submit{
    color: #000000;
    width: 50px;
    margin: auto;
}

.c1{
    color: rgb(8, 0, 128);
    background-color: #94d9f5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height:2;
    text-indent: 50px;
}

.c2{
    margin: auto;
    text-indent: 50px;
    text-align: center;
    width: 80%;
    background-color: #f9ffc2;
    border:red 2px solid;
    border-radius: 20px;
    padding: 10px;
}

fieldset > li{
    padding-bottom: 20px;
}
fieldset > ul{
    list-style: katakana;
    margin-left: 2%;
}
fieldset{
    background-color: #ffffff;
    border: rgb(0, 0, 0) 2px dashed;
    border-radius: 20px;
}
legend{
    text-align: center;
    font-size: x-large;
    font-weight: 800;
}

.c3{
    width: 80%;
    letter-spacing: .2em;
    word-spacing: .5em;
    text-indent: 50px;
    border-left: #000000 5px solid;
    padding-left: 10px;
}

img{
    cursor: pointer;
}
.img{
    text-align: center;
}
img:hover{
    transform: scale(1.1);
}

hr{
   width: 80%;
}

table{
    margin: auto;
    border: 2px #dd0000 solid;
    border-radius: 20px;
    position: relative;
    padding: 20px;
}
td{
    padding: 20px;
    color: #ff0000;
    font-size: 40px;   
}
td:hover{
    transform: scale(1.3);
}

.chart{
    float: left;
    text-align: center;
    width: 33.3%;
    border: 2px red solid;
    padding-bottom: 10px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

.tooltip {
    position: absolute;
    display: contents;
}
.tooltip .tooltiptext {
    visibility: visible;
    color: rgb(0, 0, 0);
    position: fixed;
    font-size: 15px;
    font-weight: 800;
    font-family: "Sofia", sans-serif;
    top: 91.9%;
    left: 95.9%;
    display: block;
    background: yellow;
    width: auto;
    padding: 2px 7px;
    transform: translateY(-15%) translateX(0px);
    border-radius: 7px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
}
.tooltip .tooltiptext::before {
    content: "";
    position: absolute;
    bottom: 8px;
    left: -5px;
    width: 10px;
    height: 10px;  
    background: yellow;
    transform: rotate(45deg);
    border-radius: 2px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    transform: translateY(-15%) translateX(10px);
    opacity: 1;
}

.heart {
    position: fixed;
    margin: auto;
    top: 91.5%;
    left: 93.5%;
    background-color: rgb(255, 0, 200);
    height: 25px;
    width: 25px;
    transform: rotate(-45deg);
    animation-name: scale;
    animation-duration: 1s;
    max-width: 100%;
}
.heart::after {
    background-color: rgb(255, 0, 200);
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0px;
    left: 10px;
}
.heart::before {
    content: "";
    background-color: rgb(255, 0, 200);
    border-radius: 50%;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -10px;
    left: 0px;
}
.heart:hover{
    /* transform: rotate(-40deg); */
    transform: scale(1.1) rotate(-40deg);
    animation-play-state: paused;

}
@keyframes scale{
    0%{
        transform: scale(0) rotate(-45deg);
    }
    100%{
        transform: scale(1.2) rotate(-45deg);
    }
}
